.page {
    display: grid;
    grid-template-areas:
        "page-title page-title page-title"
        "author genre year"
        "description description description";
}
.description {
    grid-area: description;
}
.page ul {
    grid-template-columns: var(--page-column-split);
}
@media (max-width: 480px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-areas:
            "page-title"
	        "author"
            "genre"
            "year"
            "description";
    }
    .page ul {
        grid-template-columns: 1fr;
    }
}
