.page {
    display: grid;
    grid-template-areas:
        "books books"
        "genres authors";
}
@media (max-width: 480px) {
    .page {
        grid-template-areas:
            "books"
            "genres"
            "authors";
    }
}
