.page {
    display: grid;
    grid-template-areas:
        "page-title page-title page-title page-title page-title"
        "books books books authors genres";
}
.page ul {
    display: grid;
    grid-template-columns: var(--page-column-split);
}